annotated-types==0.8.0
protobuf==7.36.1
attrs==26.1.0
s3transfer==0.19.2
bcrypt==5.0.0
pyparsing==3.3.2
propcache==0.5.2
botocore==1.43.93
huggingface_hub==0.36.2
torch==2.14.0
msal-extensions==1.3.1
pillow==12.3.0
nvidia-nvtx==13.0.85
yarl==1.24.5
aiohappyeyeballs==2.7.1
pydantic==2.13.5
setuptools==84.0.0
tokenizers==0.22.2
pycparser==3.0
pydicom==3.0.2
fsspec==2026.7.0
google-auth==2.58.0
google-resumable-media==2.10.2
sympy==1.14.0
azure-core==1.41.0
sentry-sdk==2.69.1
text-unidecode==1.3
catalogue==2.0.10
pylibjpeg-openjpeg==2.5.0
cuda-pathfinder==1.8.1
mosaicml-streaming==0.13.0
nvidia-nccl-cu13==2.30.7
kiwisolver==1.5.1
circuitbreaker==2.1.3
google-cloud-storage==3.2.0
gpustat==1.1.1
python-slugify==9.0.0
wcwidth==0.8.3
google-cloud-core==2.7.0
pylibjpeg-libjpeg==2.4.0
pyasn1_modules==0.4.2
nvidia-ml-py==13.610.43
nvidia-cublas==13.1.1.3
numpy==2.1.3
cuda-bindings==13.3.1
jsonschema==4.26.0
nvidia-cusparse==12.6.3.3
urllib3==2.7.0
nvidia-cuda-cupti==13.0.85
triton==3.8.0
idna==3.19
google-crc32c==1.8.0
crc32c==2.8
aiosignal==1.4.0
nvidia-nvjitlink==13.3.33
pytz==2026.3.post1
python-snappy==0.7.3
fonttools==4.65.0
transformers==4.57.6
boto3==1.43.93
tqdm==4.70.0
jsonschema-specifications==2025.9.1
xxhash==3.8.1
psutil==7.2.2
python-dateutil==2.9.0.post0
mpmath==1.3.0
kagglesdk==0.1.37
wandb==0.29.0
mdit-py-plugins==0.6.1
kaggle==2.2.4
jinxed==2.1.0
nvidia-cufile==1.15.1.6
Jinja2==3.1.6
multidict==6.8.0
pandas==3.0.5
MarkupSafe==3.0.3
nvidia-cuda-runtime==13.0.96
webencodings==0.6.1
typing-inspection==0.4.4
python-dotenv==1.2.3
azure-storage-blob==12.30.1
torchvision==0.29.0
isodate==0.7.2
markdown-it-py==4.2.0
cryptography==50.0.1
jupyter_core==5.9.1
matplotlib==3.11.2
bleach==6.4.0
fastjsonschema==2.22.2
azure-storage-file-datalake==12.25.0
azure-identity==1.25.3
PyNaCl==1.6.2
click==8.5.0
zstd==1.5.7.2
PyJWT==2.14.0
dicomsdl==0.109.4
charset-normalizer==3.5.1
blessed==1.49.0
traitlets==5.16.1
nvidia-cuda-nvrtc==13.0.88
nvidia-nvshmem-cu13==3.4.5
platformdirs==4.11.8
jupytext==1.19.5
PyYAML==6.0.3
proto-plus==1.28.4
typing_extensions==4.16.0
pylibjpeg==2.1.0
referencing==0.37.0
pip==24.0
mdurl==0.1.2
networkx==3.6.1
packaging==26.3
aiohttp==3.14.3
paramiko==3.5.1
filelock==3.32.5
contourpy==1.4.0
msal==1.38.0
pyasn1==0.6.4
oci==2.185.2
cramjam==2.12.1
certifi==2026.7.22
six==1.17.0
cycler==0.12.1
hf-xet==1.6.0
pydantic_core==2.46.5
pyOpenSSL==26.4.0
jmespath==1.1.0
regex==2026.9.10
nbformat==5.11.1
cffi==2.1.1
googleapis-common-protos==1.75.3
requests==2.34.2
brotli==1.2.0
google-api-core==2.36.0
nvidia-curand==10.4.0.35
rpds-py==2026.6.3
nvidia-cusparselt-cu13==0.8.1
opentelemetry-api==1.44.0
nvidia-cudnn-cu13==9.24.0.43
safetensors==0.8.0
nvidia-cufft==12.0.0.61
nvidia-cusolver==12.0.4.66
frozenlist==1.8.0
cuda-toolkit==13.0.3.0
